{% extends 'nav.html' %}

{% block title %}
Welcome to Amazon
{% endblock title%}


{% block data %}
<div>
    <div style="width: 100%;">
        <div class="yuganda">
            <div class='roar rear'>
                <h2>By Them</h2>
                <div class='prods'>
                    <div class='first'>
                        <div class='pops'>
                            {% load static %}
                            <img src='{% static "watch.jpg" %}' %} />
                            <div class='pops_head'>Watches</div>
                        </div>
                        <div class='pops'>
                            {% load static %}
                            <img src='{% static "clothing.jpg" %}' alt="" />
                            <div class='pops_head'>Furnitures</div>
                        </div>
                    </div>
                    <div class='second'>
                        <div class='pops'>
                            {% load static %}
                            <img src='{% static "cloths.jpg" %}' alt="" />
                            <div class='pops_head'>Cloths</div>
                        </div>
                        <div class='pops'>
                            {% load static %}
                            <img src='{% static "dail_sec.jpg" %}' alt="" />
                            <div class='pops_head'>Daily Needs</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='roar rear'>
                <h2>Grab Them</h2>
                <div class='prods'>
                    <div class='first'>
                        <div class='pops'>
                            {% load static %}
                            <img src='{% static "watch.jpg" %}' %} />
                            <div class='pops_head'>Watches</div>
                        </div>
                        <div class='pops'>
                            {% load static %}
                            <img src='{% static "clothing.jpg" %}' alt="" />
                            <div class='pops_head'>Furnitures</div>
                        </div>
                    </div>
                    <div class='second'>
                        <div class='pops'>
                            {% load static %}
                            <img src='{% static "cloths.jpg" %}' alt="" />
                            <div class='pops_head'>Cloths</div>
                        </div>
                        <div class='pops'>
                            {% load static %}
                            <img src='{% static "dail_sec.jpg" %}' alt="" />
                            <div class='pops_head'>Daily Needs</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='roar rear'>
                <h2>Now You Will Get Dissapointed</h2>
                <div class='prods'>
                    <div class='first'>
                        <div class='pops'>
                            {% load static %}
                            <img src='{% static "watch.jpg" %}' %} />
                            <div class='pops_head'>Watches</div>
                        </div>
                        <div class='pops'>
                            {% load static %}
                            <img src='{% static "clothing.jpg" %}' alt="" />
                            <div class='pops_head'>Furnitures</div>
                        </div>
                    </div>
                    <div class='second'>
                        <div class='pops'>
                            {% load static %}
                            <img src='{% static "cloths.jpg" %}' alt="" />
                            <div class='pops_head'>Cloths</div>
                        </div>
                        <div class='pops'>
                            {% load static %}
                            <img src='{% static "dail_sec.jpg" %}' alt="" />
                            <div class='pops_head'>Daily Needs</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="singles">

        <div class='offer_main rear'>
            <h2>Big offers on Tech</h2>
            <div class='element'>
                <div class='reco'>
                    <div class='pops'>
                        <img src='{% static "offer_1.jpg" %}' alt="" />
                        <div class='pops_head'>Recieve Now</div>
                    </div>
                </div>
            </div>
        </div>


        <div class='offer_main rear'>
            <h2>Sell with Amazon</h2>
            <div class='element'>
                <div class='reco'>
                    <div class='pops'>
                        <img src='{% static "offer_2.jpg" %}' alt="" />
                        <div class='pops_head'>Recieve Now</div>
                    </div>
                </div>
            </div>
        </div>


        <div class='offer_main rear'>
            <h2>Big offers on Machinery</h2>
            <div class='element'>
                <div class='reco'>
                    <div class='pops'>
                        <img src='{% static "offer_3.jpg" %}' alt="" />
                        <div class='pops_head'>Recieve Now</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div>
        <div class='bulkers_main rear'>
            <h2>Extremely High Offers</h2>
            <div class='jog'>
                <div class='particular'>
                    <img src='{% static "teen_cloths.jpg" %}' alt="" />
                </div>
                <div class='particular'>
                    <img src='{% static "men_cloths.jpg" %}' alt="" />
                </div>
                <div class='particular'>
                    <img src='{% static "cloths.jpg" %}' alt="" />
                </div>
                <div class='particular'>
                    <img src='{% static "Camera.jpg" %}' alt="" />
                </div>
                <div class='particular'>
                    <img src='{% static "teen_cloths.jpg" %}' alt="" />
                </div>
                <div class='particular'>
                    <img src='{% static "men_cloths.jpg" %}' alt="" />
                </div>
                <div class='particular'>
                    <img src='{% static "cloths.jpg" %}' alt="" />
                </div>
                <div class='particular'>
                    <img src='{% static "Camera.jpg" %}' alt="" />
                </div>
                <div class='particular'>
                    <img src='{% static "teen_cloths.jpg" %}' alt="" />
                </div>
                <div class='particular'>
                    <img src='{% static "men_cloths.jpg" %}' alt="" />
                </div>
                <div class='particular'>
                    <img src='{% static "cloths.jpg" %}' alt="" />
                </div>
                <div class='particular'>
                    <img src='{% static "Camera.jpg" %}' alt="" />
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock data %}
{% block logic %}
<style>
    .prods {
        display: flex;
    }

    .prods div {
        margin: 5px;
    }

    h2 {
        margin-left: 10px;
    }


    .pops_head {
        margin-bottom: 10px;
    }

    .roar {
        padding: 10px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        width: 300px;
        margin: 20px;
        background-color: white;
    }

    body {
        background-image: linear-gradient(180deg,
                hsl(213deg 28% 19%) 13%,
                hsl(214deg 27% 26%) 43%,
                hsl(214deg 28% 34%) 52%,
                hsl(213deg 28% 41%) 56%,
                hsl(213deg 28% 48%) 59%,
                hsl(213deg 28% 56%) 60%,
                hsl(213deg 28% 63%) 62%,
                hsl(213deg 28% 71%) 63%,
                hsl(213deg 27% 78%) 64%,
                hsl(214deg 28% 85%) 66%,
                hsl(210deg 26% 93%) 71%,
                hsl(0deg 0% 100%) 91%);
    }

    .roar img {
        width: 130px;
        height: 100px;
        cursor: pointer;
    }

    .yuganda {
        display: flex;
        width: fit-content;
        margin: auto;
        overflow-x: auto;
    }

    .offer_main {
        width: 300px;
        height: fit-content;
        background-color: white;
        padding: 10px;
        margin: 20px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .offer_main img {
        width: 300px;
    }

    .singles {
        display: flex;
        width: fit-content;
        margin: auto;
        overflow-x: auto;
    }

    .jog {
        display: flex;
        overflow-x: auto;
    }

    .bulkers_main {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

        background-color: white;
        width: 81%;
        margin: auto;
        padding: 10px;
    }

    .particular {

        padding: 20px;
    }

    body {
        background-color: rgb(35, 47, 62);
    }

    @media only screen and (max-width: 500px) {
        .yuganda {
            display: block;
            margin: auto;
        }

        .singles {
            display: block;
        }

        .offer_main {
            width: auto;
            margin: auto;
        }

        .roar img {
            margin: 15px;
            width: 100px;
        }

        .roar {
            margin: 15px;
            width: 300px;
            margin: auto;
            margin-bottom: 20px;
        }
    }

    @media only screen and (max-width:1100px) {
        .yuganda {
            width: 100%;
        }

        .singles {
            width: 100%;
        }
    }
</style>
<script>
    Array.from(document.getElementsByClassName('rear')).forEach(ele => {
        ele.addEventListener('click', (event) => {
            location.href = "{% url 'products' %}"
        })
    })
</script>
{% endblock logic %}